<div class=" foter text-white  d-flex justify-content-around  align-items-center">
    <div class="row m-0">
        <div class="col-lg-4 d-flex justify-content-center align-items-center flex-column location">
            <h2>LOCATION</h2>
            <p>2215 John Daniel Drive</p>
            <span>Clark, MO 65243</span>
        </div>
        <div class="col-lg-4 d-flex justify-content-center align-items-center flex-column  around-web">
            <h2 >AROUND THE WEB</h2>
            <div class="icons d-flex">
                <div class="facebook me-2">
                    <i class="fa-brands fa-facebook"></i>
                </div>
                <div class="twetter me-2">
                    <i class="fa-brands fa-twitter"></i>
                </div>
                <div class="linkedin me-2">
                    <i class="fa-brands fa-linkedin-in"></i>
                </div>
                <div class="globe">
                    <i class="fa-solid fa-globe"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-4 d-flex justify-content-center align-items-center flex-column about-freelacer">
            <h2>ABOUT FREELANCER</h2>
            <p class="text-center">Freelance is a free to use, licensed
                Bootstrap theme created by Nermein Hussein
            </p>
        </div>
    </div>

</div>
<div class="site-map d-flex justify-content-center align-items-center">
    <p class=" text-white ">Copyright © Your Website 2021</p>
</div>