



<div class="about ">

    <h1 class="text-center">ABOUT COMPONENT</h1>
    <div class="decoration  text-center d-flex justify-content-center align-items-center pt-2">
        <div class="left-line me-3"></div>
        <i class="fa-solid fa-star text-white"></i>
        <div class="right-line  ms-3 "></div>
    </div>
    <div class="container">
        <div class="about-text">
            <div class="row">
                <div class="col-lg-6">
                    <p class="left-text m-5">Freelancer is a free bootstrap theme created by Route.
                        The download includes the complete source files
                        including HTML, CSS, and JavaScript as well as
                        optional SASS stylesheets for easy customization.
                    </p>
                </div>
                <div class="col-lg-6">
                    <p class="right-text m-5">Freelancer is a free bootstrap theme created by Route.
                        The download includes the complete source files
                        including HTML, CSS, and JavaScript as well as
                        optional SASS stylesheets for easy customization.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
