<div class="">
  <div class="container-floid contact">
    <h1>CONTACT SECTION</h1>
    <div
      class="decoration text-center d-flex justify-content-center align-items-center pt-2"
    >
      <div class="left-line me-3"></div>
      <i class="fa-solid fa-star"></i>
      <div class="right-line ms-3"></div>
    </div>

    <div
      class="form d-flex flex-column justify-content-center align-items-center position-relative"
    >
      <div class="userName w-50">
        <div class="form-floating mb-3 w-100">
          <input type="text" class="form-control" id="floatingInput" placeholder="user Name">
          <label for="floatingInput">User Name</label>
        </div>
      </div>

      <div class="userAge w-50">
        <div class="form-floating mb-3 w-100">
          <input type="number" class="form-control" id="floatingInput" placeholder="user Age">
          <label for="floatingInput">User Age</label>
        </div>
      </div>

      <div class="userEmail w-50">
        <div class="form-floating mb-3 w-100">
          <input type="email" class="form-control" id="floatingInput" placeholder="user Email">
          <label for="floatingInput">User Email</label>
        </div>
      </div>

      <div class="userPassword w-50">
        <div class="form-floating w-100">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">User Password</label>
        </div>
      </div>

      <div class="message bg-warning">
        <button class="btn position-absolute">Send Message</button>
      </div>
    </div>
  </div>
</div>


<!-- [(ngModel)]="userName" -->