<div class="header d-flex justify-content-between p-4">
    <div class="logo text-white  " routerLink="StartFramework">Start Framework</div>
  
    <div class="nav pe-5 ">
        <ul class="d-flex list ">
            <li class="pe-5"><a routerLink="about" [routerLinkActive]="['bg-emerald-400', 'p-2' , 'rounded-2']" >About</a></li>
            <li class="pe-5" > <a routerLink="portfolio" [routerLinkActive]="['bg-emerald-400', 'p-2' , 'rounded-2']">Portfolio</a></li>
            <li class="pe-5" > <a routerLink="contact" [routerLinkActive]="['bg-emerald-400', 'p-2' , 'rounded-2']">Contact</a></li>
        </ul>
    </div>
</div>
